<div class="accordion">
    <div class="accordion__heading">
        <%=title%>
    </div>
    <ul class="accordion__body">
        <% _.forEach(data, function(item) { %>
            <li class="accordion__element">
                <div class="accordion__element-heading">
                    <div class="accordion__element-heading-text">
                        <%=item.heading %>
                    </div>
                    <div class="accordion__element-icon">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="accordion__element-body">
                    <div class="accordion__element-content">
                        <%=item.data %>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>
</div>
