/* Accordion styles */
@import '../../variables.scss';

$accordionWidth: 300px;
$defaultPadding: 10px 20px;

.accordion {
    color: $font-default;
    font-size: 13px;
    width: $accordionWidth;
}
.accordion__heading {
    background: $gray;
    cursor: default;
    font-weight: bold;
    padding: $defaultPadding;
    text-transform: uppercase;
}
.accordion__body {
    list-style: none;
    margin: 0;
    padding: 0;
}
.accordion__element-heading {
    background: $gray-light;
    cursor: pointer;
    padding: $defaultPadding;

    &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}
.accordion__element-body {
    background: $gray-lighter;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.5s ease-in-out;
}
.accordion__element-content {
    padding: $defaultPadding;
}
.accordion__element-icon {
    float: left;
    text-align: right;
    width: 10%;

    i.fa {
        transition: 0.1s linear;
    }
}
.accordion__element-heading-text {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}
.accordion__controls {
    padding: $defaultPadding;
}
.accordion__collapse-all,
.accordion__expand-all {
    color: $font-default;
    text-decoration: none;
}
.accordion__collapse-all {
    float: right;
}
// expanded element state
.accordion__element_expanded {
    .accordion__element-body {
        max-height: 1000px;
    }
    .accordion__element-icon {
        i.fa {
            transform: rotate(-90deg);
        }
    }
}
.accordion__element-icon {
    float: right;
}
