/* basic styles */
// fix problem with fa path
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import '~normalize.css/normalize.css';

@import 'variables.scss';

.container {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 800px;
}
